@import "tailwindcss";

:root {
  --background-image: url('../assets/system-grid-light.svg');
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-image: url('../assets/system-grid-dark.svg');
  }
  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}

.background-grid {
  background-image: var(--background-image);
  background-repeat: repeat;
  background-size: 470px 470px;
  background-position: top;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
